<ng-container *ngIf="estimate() as estimate">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ estimate.name || ""}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list class="estimate-data-list">
        <mat-list-item >
          <div class="estimate-data-list-item">
            <mat-icon>label_important</mat-icon>
            <span>Emissioni totali (kg): </span>
            <b>{{ estimate.emissionsKg || 0 }}</b>
          </div>

        </mat-list-item>
        <ng-container *ngIf="vehiclesNumber() > 0">
          <mat-list-item >
            <div class="estimate-data-list-item">
              <mat-icon>directions_car</mat-icon>
              <span>Veicoli: </span>
              <b>{{ vehiclesNumber() }}</b>
            </div>
          </mat-list-item>
          <mat-list-item >
            <div class="estimate-data-list-item">
              <mat-icon>directions_run</mat-icon>
              <span>Km percorsi: </span>
              <b>{{ estimate.vehiclesEstimate.totalDistanceKm }}</b>
            </div>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="billsNumber() > 0">
          <mat-list-item >
            <div class="estimate-data-list-item">
              <mat-icon>receipt</mat-icon>
              <span>Bollette: </span>
              <b>{{ billsNumber() }}</b>
            </div>
          </mat-list-item>
          <mat-list-item >
            <div class="estimate-data-list-item">
              <mat-icon>directions_run</mat-icon>
              <span>Mhw consumati: </span>
              <b>{{ estimate.billsEstimate.totalElectricityMwh }}</b>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-container>

