<div class="vehicles-estimate-form" [formGroup]="form">
    <ng-container formArrayName="vehicles">
        <ng-container *ngFor="let vehicle of vehicles.controls; let i = index">
            <div class="vehicles-estimate-form-row" [formGroupName]="i">

                <mat-form-field appearance="fill">
                    <mat-select formControlName="vehicle_make_id" (selectionChange)="onMakeSelected($event, i)" placeholder="Marca Veicolo">
                        <ng-container *ngFor="let make of vehicleMakes()">
                          <mat-option [value]="make.id">{{make.name}} ({{make.numberOfModels}})</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-select formControlName="vehicle_model_id" (selectionChange)="onModelSelected($event, i)" placeholder="Modello Veicolo">
                    <ng-container *ngFor="let model of (vehicleModels() | filterByMakeId: form.get('vehicles')?.get(i.toString())?.get('vehicle_make_id')?.value)">
                      <mat-option [value]="model.id">{{model.name}} ({{model.year}})</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>


                <mat-form-field appearance="fill">
                  <input matInput
                    type="number"
                    formControlName="distance_value"
                    placeholder="Distanza percorsa">
                </mat-form-field>


                <button
                  *ngIf=" isCalculatingEstimate().index !== i && form.get('vehicles')?.get(i.toString())?.get('emissions')?.value === null"
                  mat-raised-button color="primary" (click)="onCalculateEstimate(i)">
                    Calcola emissioni
                </button>
                <mat-spinner *ngIf="isCalculatingEstimate().index == i">
                </mat-spinner>
                <span
                  *ngIf=" isCalculatingEstimate().index !== i && form.get('vehicles')?.get(i.toString())?.get('emissions')?.value">
                  {{ form.get('vehicles')?.get(i.toString())?.get('emissions')?.value }}
                </span>

                <button mat-mini-fab (click)="onRemoveRow(i)">
                  <mat-icon class="add-remove-btn">delete</mat-icon>
                </button>

              </div>
        </ng-container>
    </ng-container>


    <button mat-mini-fab (click)="onAddRow()">
      <mat-icon class="add-vehicle-btn">add</mat-icon>
    </button>


</div>
