<div class="sidebar-content-container" [ngClass]="{'sidebar-open': sidebarOpen()}">

  <div class="sidebar-content">
    <div class="sidebar-content-toggle-row">
      <mat-icon (click)="onCloseSidebar()">close</mat-icon>
    </div>
    <div class="sidebar-content-estimates-list">
      <mat-list>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let estimate of estimates()">
          <app-estimate-preview [selected]="estimate.id == selectedEstimateId()" [estimate]="estimate"></app-estimate-preview>
        </ng-container>
      </mat-list>
    </div>
  </div>

  <div class="sidebar-cta">
    <p class="sidebar-cta-title">Crea una nuova stima delle tue emissioni!</p>

    <button mat-mini-fab color="primary" aria-label="button with a plus icon" (click)="onAddEstimate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

