<mat-card class="estimates-tab-group">
  <app-estimate-preview></app-estimate-preview>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Veicoli">
        <app-vehicles-estimate-calculator [resetChanges$]="resetChanges$"  [estimate]="estimate$ | async"></app-vehicles-estimate-calculator>
    </mat-tab>
    <mat-tab label="Bolletta">
      <app-bills-estimate-calculator [resetChanges$]="resetChanges$" [estimate]="estimate$ | async"></app-bills-estimate-calculator>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions *ngIf="isUnsaved()">
    <button mat-raised-button color="primary" (click)="onSaveChanges()">Salva</button>
    <button mat-raised-button color="accent" (click)="onDeleteChanges()">Annulla</button>
  </mat-card-actions>
</mat-card>
